html, body, section, article, h1, nav,  ul,li a, aside  {
margin:0;
border:0;
padding:0;
font-size: 100%;
vertical-align: baseline;
}
html{font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}

body {
	background-color:#c4c888;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;}
body p{ color:#660000;
		font-size:28px;
		text-align:center;
		padding-top: 50px; }
.me {width: 30%;
height: auto;
float:right;}


.social {
color:#c4c888;
/*padding-left:8%;position:relative ;float: left;*/
font-size:40px;
float:right;
position:relative;

}
.social a{ 
color:#660000;
}

.navBar ul {	
	font-family:Lucida Console; 
	list-style: none; 
   	display: inline-block;
    padding-left: 0;
	width:100%;
    background-color: white;
	overflow:hidden;
	letter-spacing: 0.5em;
	/*margin-top: 20px;*/
}

.navBar ul li {
    float: left;
    border-right:1px solid #bbb;
	text-shadow: 2px 2px 5px rgba(197,75,2,1.00);
	}
	
.navBar ul li:last-child {
    float: right;
	border-left:1px solid #bbb;
	border-right: none;
}
.navBar  a {
    display: block;
    color: #660000; /*color for letter in bar*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	background-color: white;
}
.navBar a:hover {
    background-color: #ffffe6;
	color: #1a1a00;
}
.active {background-color: #660000 !important;
font-weight: bold !important;
color:white !important;}


footer{clear: both;
width: 100%;
    background-color: white;
	margin-top: 2%;
	color: #660000 !important;
	text-align:center;
	margin-bottom: 2%;
	letter-spacing: 0.5em;}
footer a {color: #ff1a1a;}

@media (max-width:768px){
.navBar ul {width: 40%;
		display: block;}
.navBar ul li {	border-right: none;	}

.navBar ul li:last-child  {
    float: left;
	border-left:none;
	border-right: none;}
	
.navBar {margin: 2%;}

.sidebarleft  h1{font-size: 16px; }
footer{letter-spacing: 0em;}
}

@media (max-width:480px){
	.navBar ul {
    list-style-type: none;
    margin: 0;
    width: 60%;
    /*background-color: #1a1a00;*/
	display: block;}

.navBar li a {
    display: block;
    color:  #660000;
    padding: 8px 0 8px 16px;
    text-decoration: none;}
header img{ width: 50%;}
	}

